@import '/couponsystem/src/styles.scss';

.gallery_container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 6rem 3rem;
  background-color: #e2e0e0;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 10rem 2rem;
  margin: 2rem 0;
  transition: all 0.3s ease-in-out;
}

.search-gallery-no-results {
  display: inherit;
}

.search-bar-container {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.no-results-found {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2rem;
    font-weight: 500;
  }
}

.gallery-headline {
  display: flex;
  margin: 5rem 0 1.5rem 0;
}

.gallery-headline img {
  height: 40px;
  width: 40px;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  margin: 0 1rem 0 0;
  color: $secondary_color;
}

.gallery-btn {
  border-radius: 1rem;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.gallery-btns {
  position: absolute;
  right: 0;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  margin-top: -4rem;
}
.banner_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  margin: 5rem 0;
  width: 50%;
  min-width: 40rem;

  height: 50%;
  border-radius: 0.5rem;
  background: url('/assets/images/banner_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  font-size: 3rem;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  justify-content: center;
}

.banner a {
  margin-top: 1rem;
  width: fit-content;
  font-size: 2rem;
  background-color: $secondary_color;
  color: white;
}

.banner p {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: calc(1vw + 15px);
}

.filter-btn-active {
  background-color: $secondary_color;
  color: white;
}

.filter-btn-animation {
  animation: filterBtnAnim 1s ease-in-out forwards;
}

@keyframes filterBtnAnim {
  to {
    color: grey;
    border: transparent;
  }
}

.filter-container {
  position: absolute;
  z-index: 10;
  right: -450px;
  transform: translate(0, -50px);
}

.filter-in {
  animation: filterAnimation 1.3s ease-in-out forwards;
}
@keyframes filterAnimation {
  to {
    right: -100px;
  }
}

.filter-out {
  animation: filterAnimationOut 1.3s ease-in-out forwards;
}

@keyframes filterAnimationOut {
  from {
    right: -100px;
  }
  to {
    right: -450px;
  }
}

@media screen and (max-width: 1350px) {
  .search-bar-container {
    display: flex;
  }

  @keyframes filterAnimation {
    to {
      right: -20px;
    }
  }

  @keyframes filterAnimationOut {
    from {
      right: -20px;
    }
    to {
      right: -450px;
    }
  }
}

@media screen and (max-width: 950px) {
  .banner {
    min-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .filter-container {
    opacity: 0;
    right: 0;
  }

  .filter-in {
    animation: filterAnimation 0.3s ease-in-out forwards;
  }

  .filter-out {
    animation: filterAnimationOut 0.3s ease-in-out forwards;
  }

  @keyframes filterAnimation {
    to {
      opacity: 1;
    }
  }

  @keyframes filterAnimationOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 400px) {
  h1 {
    margin: 0 2rem 3rem 0;
  }
}
