<h1 class="fader-wrapper">My Account</h1>
<a (click)="goBack()" class="back-btn fader-wrapper">
  <img src="assets/images/back-arrow.svg" /> Back</a
>
<div class="main-container fader-wrapper" *ngIf="customer">
  <div class="card-container account-details">
    <div class="account-details-container">
      <div class="headline">
        <img src="assets/images/login-icon.svg" />
        <h2>Account Details</h2>
      </div>
      <div class="center-details">
        <div class="text-container">
          <span class="bold-span">First Name</span>
          <span>{{ customer.firstName }}</span>
        </div>
        <div class="text-container">
          <span class="bold-span">Last Name</span>
          <span>{{ customer.lastName }}</span>
        </div>
        <div class="text-container">
          <span class="bold-span">Email</span>
          <span>{{ customer.email }} </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container my-purchases">
    <div class="account-details-container">
      <div class="headline">
        <img class="coupon-icon" src="assets/images/coupons-icon.png" />
        <h2>Account Purchases</h2>
      </div>
      <div class="center-details">
        <div class="text-container">
          <span class="bold-span">Total Coupons</span>
          <span>{{ customer.coupons.length }}</span>
        </div>

        <a class="green-btn" *ngIf="customer.coupons.length > 0" (click)="navigateToCoupons()"
          >Coupons</a
        >
      </div>
    </div>
  </div>
</div>
