<div *ngIf="isPreviewOpen()" class="black-overlay fader-wrapper"></div>
<div *ngIf="isTransparentOverlay()" class="transparent-overlay"></div>
<div class="error-message">
  <app-error-message *ngIf="isErrorActive()"></app-error-message>
</div>
<header>
  <nav-component></nav-component>
</header>

<section class="side-menu">
  <side-menu></side-menu>
</section>

<main [class.main_no_menu]="!getHideMenu()">
  <!-- <coupons-gallery></coupons-gallery> -->
  <coupon-preview *ngIf="isOpen"></coupon-preview>
  <router-outlet></router-outlet>
</main>

<footer><app-footer></app-footer></footer>
