<div class="change-password-container fader-wrapper">
  <span class="password-decoration">****</span>

  <div class="div_wrapper">
    <h1>Change Password</h1>

    <div class="inputs-field">
      <app-text-input
        inputType="password"
        placeHolderText="Old Password"
        [iconSrc]="PasswordIconSrc"
        (blast)="stamlog($event)"
        inputName="oldPass"
      ></app-text-input>

      <app-text-input
        inputType="password"
        placeHolderText="New Password"
        [iconSrc]="PasswordIconSrc"
      ></app-text-input>
    </div>

    <a class="green-btn submit-btn">Submit</a>
  </div>
</div>
